

.playlists {
    width: 20vw;
    height: 100vh;
    padding: 30px;
}

.playlistwrapper {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.playlistwrapper:hover {
    background: rgba(0, 0, 0, 0.1)
}

.playlistname {
    font-size: 1.1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

