

.playlists {
    width: 20vw;
    height: 100vh;
    background: var(--5);
    padding: 20px;
}

.playlistwrapper {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
    gap: 15px;
}

.playlistwrapper:hover {
    cursor: pointer;
    background: var(--15)
}

.playlistwrapper:hover .playlistname {
    color: white;
    font-weight: 500;
}

.playlistimg {
    min-width: 50px;
    min-height: 50px;
}

.playlistname {
    font-size: 1.1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--2)
}

