

.playbackWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background: var(--16);
    padding: 0px 20px;
    box-shadow: inset 0px 30px 40px 1px rgba(255, 255, 255, 0.01);
    border-top: 2px solid rgba(255, 255, 255, 0.05);
}

.playbackBtn {
    cursor: pointer;
}

.playbackContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.playbackTitle {
    font-size: 0.9em;
    color: white;
}

.playbackAuthors {
    font-size: 0.8em;
    color: var(--14)
}

.playbackControl {
    justify-content: space-around;
    width: 250px;
}

.centerContainer {
    flex-direction: column;
    gap: 7px;
}

.centerContainer svg {
    font-size: 1.2em;
}

.playPauseBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    background-color: white;
    color: var(--5);
    font-size: 1.2em;
}

.playPauseBtn:hover {
    width: 38px;
    height: 38px;
}

.playPauseBtn svg { fill: var(--5); }

.progressBar {
    width: 30vw;
    height: 4px;
    background: var(--15);
    border-radius: 100px;
}

.progressBar:hover .progressBarBtn {
    opacity: 1;
}

.progressBar:hover .progressBarProgress {
    background-color: green;
}

.progressBarBtn {
    opacity: 0;
    position: absolute;
    width: 14px;
    height: 14px;
    background: var(--2);
    border-radius: 100px;;
}

.progressBarProgress {
    width: 45%;
    height: 100%;
    background: var(--2);
    border-radius: 100px;
}

.playbackArrow {
    font-size: 1.3em;
    margin: 0px 0px;
}